.form {
    margin-top: 24px;
    padding: 24px;
    display: flex;
    gap: 24px;
}

.input {
    width: 360px;
    height: 40px;
    border: none;
    border-radius: 20px;
    padding: 4px 20px;
    font-size: 20px;
    caret-color: #333;
}


.input:focus-within {
    outline: none;
    box-shadow: 0 0 2px 2px white;
}

.button {
    width: 160px;
    height: 40px;
    border: 1px solid red;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s linear;

}

.button:hover {
    background-color: rgb(33, 33, 33);

}